<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.afkbrb.lightblogback.dao.LinkMapper">
  <resultMap id="BaseResultMap" type="com.github.afkbrb.lightblogback.model.Link">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="link_name" jdbcType="VARCHAR" property="linkName" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="link_order" jdbcType="INTEGER" property="linkOrder" />
  </resultMap>
</mapper>